body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px;
}

.crypto-prices {
    display: flex;
    justify-content: space-around;
}

.platform {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

h2 {
    margin-top: 0;
}
